* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.toggler {
  display: none;
}

.logo img {
  max-width: 40%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0.3rem 1rem;
}

.nav1 {
  background-color: #3e3e3e;
}

.nav1-logout {
  margin: 0 7rem 0 0;
}

.nav1-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5rem;
  position: relative;
  top: -15.6px;
  background-color: #fff;
}

.nav2-items {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  padding-top: 0.7rem;
  margin-right: 5rem;
}

.nav2-link {
  padding: 0 1rem;
  color: #687e86;
}

.languages {
  background-color: #3e3e3e;
  color: #d9d9d9;
  margin: 0 1rem;
}

.fa-facebook-f,
.fa-twitter {
  color: #fff;
}

.nav1-item {
  color: #d9d9d9;
}

.nav-items {
  display: flex;
  justify-content: end;
  align-items: center;
}

.about {
  color: red;
}

.campaign {
  color: red;
  border: 2px solid red;
  align-self: center;
  margin: 0 2.5rem 0 0;
}

.showcase {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  padding-left: 6rem;
}

.showcase::before,
.about-header::before {
  content: "";
  background-image: url('img/system3.jpg');
  background-size: cover;
  position: absolute;
  top: -18px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.showcase h1 {
  position: relative;
  left: 0;
  color: #e85242;
  font-size: 3rem;
  line-height: 1.2;
  padding-top: 10rem;
  margin-left: 0;
  max-width: 45rem;
  font-weight: 600;
}

.about-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 3rem;
  max-width: 100%;
  margin: auto;
}

.about-header h1 {
  position: relative;
  text-align: center;
  align-self: center;
  color: #e85242;
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 5rem;
  max-width: 45rem;
  font-weight: 600;
}

.about-para1 {
  position: relative;
  border: 2px solid white;
  max-width: 45rem;
  line-height: 1.7;
  margin-top: 1rem;
  padding: 2rem;
  background-color: #fff;
  align-self: center;
}

.about-para2 {
  position: relative;
  padding-top: 5rem;
  align-self: center;
  color: #e85242;
  font-weight: 900;
  text-align: center;
}

.about-email {
  position: relative;
  padding-bottom: 10rem;
  font-size: medium;
  font-weight: 900;
  align-self: center;
  color: #e85242;
  text-align: center;
}

.about-hr {
  background-color: rgb(199, 194, 194);
  width: 100%;
}

.about-logo img {
  width: 10rem;
}

.about-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.logo-text {
  font-weight: 600;
  margin: 0 2rem;
  font-size: 0.7rem;
}

.about-logo p {
  padding: 3rem 0;
  text-align: center;
}

.about-logo h2 {
  padding-top: 1rem;
  font-weight: bolder;
  text-align: center;
}

.about-courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.about-courses h2 {
  font-weight: bolder;
  text-align: center;
}

.about-img-courses {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 20rem;
  align-items: center;
  top: 0;
}

.about-img2,
.about-img1 {
  position: relative;
  background: #000 url(img/system4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 4rem;
  color: #fff;
  height: 17rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  max-width: 100%;
}

.about-img2 > div:hover {
  display: none;
}

.about-img1 > div:hover {
  display: none;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: red;
  opacity: 0.5;
  position: absolute;
}

.pro p {
  font-size: 0.8rem;
  margin: 0 1rem 0.5rem 1rem;
  text-align: center;
}

.about-img-courses li p {
  z-index: 1;
  font-weight: bold;
}

.para {
  position: relative;
  border: 2px solid white;
  max-width: 45rem;
  line-height: 1.7;
  margin-top: 1rem;
  padding: 2rem;
  background-color: #c4c4c4;
  font-weight: 600;
}

.showcase h2 {
  position: relative;
  font-weight: 800;
  padding-top: 2rem;
  letter-spacing: 0.2rem;
}

.para1 {
  position: relative;
  max-width: 100%;
  font-weight: 600;
  line-height: 1.7;
  margin-top: 1rem;
  padding: 2rem;
  color: #e85242;
  font-size: 2rem;
  padding-left: 0;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #262930;
  color: #fff;
  padding: 1rem 0 0 0;
}

.pro h5 {
  color: #ec4b3a;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 3rem;
  max-width: 70%;
}

.pro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3d4046;
  margin: 0 0.1rem;
}

.img-logo {
  max-width: 20%;
  align-self: center;
  padding-top: 1rem;
}

hr {
  background-color: rgb(250, 19, 19);
  font-weight: bolder;
  width: 3rem;
}

.pro:hover {
  border: 1px solid #fff;
}

u {
  padding: 1rem 0 5rem 0;
}

.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #414246;
  color: #fff;
  padding: 2.5rem;
  max-width: 100%;
  height: auto;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logos img {
  margin: 0 0.5rem;
}

.footer2-img img {
  max-width: 30%;
}

.footer-about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2e2e2e;
  padding: 3.5rem 0;
  max-width: 100%;
  color: #fff;
  height: auto;
}

.footer2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d7d7d7;
  max-width: 100%;
}

.footer2-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0 0;
  max-width: 100%;
}

.footer-desc {
  margin-right: 4rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo-text {
  font-weight: bolder;
  font-size: 0.5rem;
  max-width: 2rem;
  align-self: center;
  margin-right: 0.6rem;
}

.join-us {
  display: none;
}

.speakers-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;

  /* margin: 0 4rem; */
  justify-content: center;
  align-items: center;
}

.speaker-job {
  font-size: 0.8rem;
  color: #e85242;
  font-style: italic;
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 5rem;
  padding-top: 1rem;
}

.speaker-desc {
  font-size: 0.8rem;
}

.speaker-name {
  font-size: 1rem;
  font-weight: 600;
  color: #535353;
}

.speaker-group img {
  max-width: 30%;
  height: 30%;
  margin: 0 0.5rem 1rem 0;
}

.speaker-hr {
  background-color: #3c3f45;
}

.speaker-group {
  display: flex;
  align-items: center;
}

.speaker-desc-holder {
  margin: 0 2rem 0 0;
  max-width: 50%;
}

@media screen and (max-width: 762px) {
  :root {
    --primary-color: rgba(169, 171, 172, 0.88);
    --overlay-color: rgba(13, 15, 17, 0.85);
    --menu-speed: 0.75s;
  }

  .pro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }

  .showcase {
    padding: 1rem;
  }

  .speakers-group {
    display: flex;
    flex-direction: column;
  }

  .speakers {
    background-color: #d7d7d7;
    max-width: 100%;
    margin: 0;
    height: 100%;
    padding: 0 0 2rem 2rem;
  }

  .speaker-group {
    margin: 0;
  }

  .speakers h2 {
    padding-top: 2rem;
    text-align: center;
  }

  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .speaker-desc-holder {
    margin-right: 1rem;
  }

  .img-logo {
    padding: 1rem 0 1rem 1rem;
  }

  .pro h5 {
    margin: 0 0.5rem;
    padding: 0;
  }

  .pro p {
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-size: 0.8rem;
    text-align: left;
  }

  .nav1-logout {
    margin: 0;
  }

  .campaign {
    margin: 0;
  }

  .about-courses {
    margin-top: 2rem;
  }

  .about-img-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .about-img1,
  .about-img2 {
    margin: 2rem 0;
    height: 17rem;
  }

  .about-logo {
    background-color: #e5e5e5;
  }

  .languages,
  .nav1-item,
  .nav2-link {
    color: #fff;
  }

  option {
    background-color: #2d2f30;
  }

  .script,
  .backend {
    align-items: center;
  }

  .join-us {
    display: block;
    max-width: 80%;
    padding: 2rem 2rem;
    background-color: #ec5242;
    margin: 1rem 0;
  }

  .underline {
    display: none;
  }

  .footer-logos {
    display: flex;
    flex-direction: column;
  }

  .para1 {
    display: block;
  }

  .languages,
  .nav1 {
    background-color: inherit;
  }

  .logo img {
    display: none;
  }

  .nav1,
  .nav2,
  .nav2-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
  }

  .nav1-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav1-items a,
  .nav2-items a {
    line-height: 2;
  }

  .toggler {
    display: block;
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #e85242;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .menu-wrap .hamburger > div::after {
    top: 10px;
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90%;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  /* toggler animate */

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(130deg);
  }

  /* turn lines into x */

  .menu-wrap .toggler:checked + .hamburger > div::before,
  .menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
}
