*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.4;
	max-width: 100%;
}


li{
	list-style: none;
}

a{
	text-decoration: none;
}
.toggler{
	display: none;
}

.logo img{
	max-width: 4rem;
}

.nav1{
	background-color: #212529;
}

.nav1-items{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0.5rem 4rem 0.5rem 0;

}

.nav1-link,
.nav1-item{
	margin: 0 1rem;
}

.nav2{
	display: flex;
	justify-content: space-between;
	padding-left: 5rem;
	padding-bottom: 1.2rem;
}

.nav2-items{
	display: flex;
	justify-content: space-between;
	width: 30rem;
	align-items: center;
	margin-right: 5rem;
}


.nav2-link{
	padding: 0 1em;
}

.languages{
	background-color: #212529;
	color: #668b9a;
	margin: 0 1rem;
}

.fa-facebook-f,
.fa-twitter{
	color: #fff;
}

.nav1-item{
	color: #668b9a;
}

.nav-items{
	display: flex;
	justify-content: end;
}

.menu-wrap{
	background-color:#f8f9fa;

}

.nav2-link{
	color: #668b9a;
}

.about{
	color: red;
}

.campaign{
	color: red;
	border: 2px solid red;
	padding: 0.8rem 0.2rem;
}

.showcase{
	position: relative;
	width: 100%; 
    display: flex;
	flex-direction: column;
    align-items: left;
	padding: 3rem;
}

.showcase:before{
	content: "";
      background-image: url('img/system3.jpg');
      background-size: cover;
      position: absolute;
      top: -18px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	  opacity: 0.4;
	  padding-bottom: 10rem;
	}

.showcase{
	position:relative;
}

.showcase h1{
	position: relative;
	left: 0;
	color: #e85242;  
	font-size: 3rem;
	line-height: 1.2;
	padding-top: 10rem;
	margin-left: 0;
	max-width: 45rem;
	font-weight: 600;
	
}

.para{
	position: relative;
	border: 2px solid white;
	max-width: 45rem;
	line-height: 1.7;
	margin-top: 1rem ;
	padding: 2rem;
	background-color: #c4c4c4;
}

.showcase h2{
	position: relative;
	font-weight: 800;
	padding-top: 2rem;
	letter-spacing: 0.2rem;
}

.para1{
	position: relative;
	max-width:60%;
	font-weight: 600;
	line-height: 1.7;
	margin-top: 1rem;
	padding-top: 2rem;
	color: #909090;
	font-size: 2rem;
}

.img-logo{
	width: 15%;
	padding-top: 1rem;
}

hr{
	background-color: rgb(250, 19, 19);
	font-weight: bolder;
	width: 10%;
}

.program{
	padding:10rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	background-color: #272a31;
	color: #fff;
} 

.courses{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.pro{
	max-width: 20%;
	margin: 0.5rem;
	background-color: #3d4046;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 20rem ;
}

.pro:hover {
	border: 1px solid #fff;
}

h5{
	font-size: 1rem;
	font-weight: normal;
	color: red;
}

.pro p{
	font-size: small;
	padding-left: 0.5rem; 
	width: 80%;
	height: 100%;
}

u{
	padding:1rem 0 3rem 0;
}

.footer1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #414246;
	color: #fff;
	padding: 1.5rem 0 1.5rem 0;
	max-width: 100%;
}

.footer-logos{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-logos img{
	margin: 0 0.5rem;
}

.footer2-img img{
	width: 15%;
	padding-right: 1rem;
}

.footer2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer2-img{
	display: flex;
	align-items: center;
	margin-left: 4rem;
}

h6{
	margin-right: 4rem;
}

.footer2{
background-color: #d7d7d7;
padding: 6rem 0;
}

.footer2-img h6{
	font-weight: bolder;
  }

  .join-us{
	  display: none;
  }

.speakers{
	display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 padding-top: 7rem;
	 max-width: 100%;
}  

.speakers-group{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}

.speakers-group img{
  max-width: 10rem;
  height: 10rem;
  margin: 3rem 1rem 0 0 ;

}

.speaker-group > div{
margin-top: 3rem;
}


.speaker-group{
	width: 50%;
	display: flex;
	margin: 0 2rem 0 2rem;
}

.speaker-name{
	font-size: x-large;
	font-weight: 600;
}

.speaker-job{
	font-size:1rem;
}

.speaker-desc{
	background-color: #d7d7d7;
	font-size: 0.7rem;
	padding: 0.5rem;
}
.speaker-hr{
	background-color: #000;
}
@media screen and (max-width: 760px) {

	:root {
		--primary-color: rgba(169, 171, 172, 0.88);
		--overlay-color: rgba(13, 15, 17, 0.85);
		--menu-speed: 0.75s;
	}

	.languages,.nav1-item,.nav2-link{
		color: #fff;
	}

	option{
		background-color:#2d2f30;
	}

	.speakers-group img{
		max-width: 10rem;
		height: 10rem;
		margin: 3rem 1rem 0 2rem ;
	  
	  }
	  

	.speakers-group{
		display: flex;
		flex-direction: column;
	}

	.speaker-group{
		display: flex;
		width: 100%;
		margin: 0 1rem;

	}

	.speaker-desc{
		font-size: 1rem;
		margin-right: 2rem;
		padding: 0.5rem;
	}


	.courses{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.pro {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		height: 20%;
		align-items: center;
		align-self: center;
	}

	

	.pro p{
		max-width: 100%;
		padding: 0 1rem;
	}

	.img-logo{
		width: 10%;
		margin: 0 1rem 0.7rem 0.7rem;
	}

	.pro h5{
		width: 8rem;
		font-weight: bold;
	}

	.join-us{
		display: block;
		max-width: 80%;
		padding: 2rem 2rem;
		background-color: #ec5242;
	}

	.underline{
		display: none;
	}

	.footer-logos{
		display: flex;
		flex-direction: column;
	}

	
	.para1{
		display: block;
	}

	.languages, 
	.nav1 {
		background-color:inherit;
		
	}

	.logo img{
		display: none;
	}
	.nav1,
	.nav2,
	.nav2-items
	{
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	.nav1-items{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding:0;
	}

	.nav1-items a,
	.nav2-items a{
		line-height: 3;
	}

.toggler{
	display: block;
}


.showcase{
	max-width: 100%;
	margin: auto;
	padding: 0 3rem;
}

/* .showcase {
	background-color: var(--primary-color);
	color: white;
	height: 100vh;
	position: relative;
}

.showcase:before{
	content: "";
	background: url('img/system.jpeg') no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 1.8;
}

.showcase .showcase-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.showcase h1 {
font-size: 4rem;;
color:rgb(210, 180, 140)

}
.showcase p{
	font-size: 1.3rem;

}

.btn{
	display:inline-block;
	border: none;
	background-color: var(--primary-color);
	color: #fff;
	padding: 0.75rem 1.5rem;
	margin-top: 1rem;
	text-decoration: none;
	transition: opacity 1s ease-in;
}

 .btn:hover{
	 opacity: 0.7;
 } */

 .menu-wrap{
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 1;
 }

 .menu-wrap .toggler{
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 2;
	 cursor: pointer;
	 width: 50px;
	 height: 50px;
	 opacity:0;
 }


 .menu-wrap .hamburger{
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 1;
	 width: 60px;
	 height: 60px;
	 padding: 1rem;
	 background:none;
	 display: flex;
	 align-items: center;
	 justify-content: center;
 }
	 .menu-wrap .hamburger > div{
		 position: relative;
		 width: 100%;
		 height: 2px;
		 background-color: #e85242;
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 transition: all 0.4s ease;
	 }

	 .menu-wrap .hamburger > div:before,
	 .menu-wrap .hamburger > div:after {
		 content: "";
		 position: absolute;
		 z-index: 1;
		 top: -10px;
		 width: 100%;
		 height: 2px;
		 background: inherit;
	 }

	 .menu-wrap .hamburger > div:after {
		 top: 10px;
	 }

	 /* toggler animate */

	 .menu-wrap .toggler:checked + .hamburger >div{
		 transform: rotate(130deg);
	 }

	 /* turn lines into x */

	 .menu-wrap .toggler:checked + .hamburger >div:before,
	 .menu-wrap .toggler:checked + .hamburger >div:after{
		top: 0;
		transform: rotate(90deg);
	 }

	 /* .menu-wrap .toggler:checked:hover + .hamburger > div{
		 transform: rotate(225deg)
	 } */

	 /* show menu */
	 .menu-wrap .toggler:checked ~ .menu{
		visibility:visible;
	 }

	 .menu-wrap .toggler:checked ~ .menu > div{
		 transform: scale(1);
		 transition-duration: var(--menu-speed);
	 }

	 .menu-wrap .toggler:checked ~ .menu > div > div{
		 opacity: 1;
		 transition: opacity 0.4s ease;
	 }
	 .menu-wrap .menu{
		 position: fixed;
		 top: 0;
		 left: 0;
		 width: 100%;
		 height: 100%;
		 visibility: hidden;
		 display:flex;
		 align-items: center;
		 justify-content: center;
	 }

	 .menu-wrap .menu >div{ 
		 background: var(--overlay-color);
		 border-radius: 50%;
		 width:200vw;
		 height: 200vw;
		 display: flex;
		 flex: none;
		 align-items: center;
		 justify-content: center;
		 transform: scale(0);
		 transition: all 0.4s ease;
	 }
 
	 .menu-wrap .menu > div > div{
		text-align: center ;
		max-width: 90%;
		max-height: 100vh;
		opacity: 0; 
		transition: opacity 0.4s ease;
	 }

	 .menu-wrap .menu > div > div > ul > li{
		 list-style:none;
		 color: #fff;
		 font-size: 1.5rem;
		 padding: 1rem; 
	 }

	 .menu-wrap .menu > div > div > ul > li > a{
		 color: inherit;
		 text-decoration: none;
		transition: color 0.4s ease; 
	 } 
	 
	}